.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff8f7;
}

.cover__title {
  z-index: 1;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {

  .cover__title {
    font-size: 24px;
  }

}

.cover__link {
  color: black;
  text-decoration: none;
}

.cover__link:hover {
  opacity: 0.8;
}

.cover__decorative {
  position: absolute;
  color: #fef2f0;
  font-size: 400px;
}

@media screen and (max-width: 767px) {

  .cover__decorative {
    font-size: 200px;
  }

}

.cover__image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 270px;
  margin: 0 0 0 -135px;
}

@media screen and (max-width: 767px) {

  .cover__image {
    width: 150px;
    margin: 0 0 0 -75px;
  }

}
